---
Language: Cpp
BasedOnStyle: Microsoft
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 100
AccessModifierOffset: -2
AllowShortFunctionsOnASingleLine: None    # 禁止短函数放在一行
BreakBeforeBraces: Custom                 # 自定义大括号换行
AlignConsecutiveAssignments: true         # 对齐连续赋值
AlignConsecutiveDeclarations: true        # 对齐连续声明
PointerAlignment: Left                    # 指针对齐左边
SortIncludes: true                        # 排序 include
SpaceAfterCStyleCast: false               # 强制类型转换后不加空格
SpaceAfterTemplateKeyword: false          # 模板关键字后不加空格
SpaceBeforeAssignmentOperators: true      # 赋值运算符前加空格
SpaceBeforeParens: ControlStatements      # 控制语句后加空格
SpaceInEmptyParentheses: false            # 空括号不加空格
SpacesInCStyleCastParentheses: false      # 类型转换括号不加空格
SpacesInParentheses: false                # 括号不加空格
SpacesInSquareBrackets: false             # 方括号不加空格
BinPackParameters: false                  # 禁止将函数参数打包到一行
AlwaysBreakTemplateDeclarations: Yes      # 强制模板声明单独一行
BraceWrapping:
  AfterEnum: false                        # 枚举的左大括号不单独一行
  AfterFunction: false                    # 函数体的左大括号不单独一行
  AfterClass: false                       # 类定义的左大括号不单独一行
  AfterControlStatement: false            # 控制语句的左大括号不单独一行
  AfterNamespace: false                   # 命名空间的大括号不单独一行
  AfterStruct: false                      # 结构体的大括号不单独一行
  AfterUnion: false                       # 联合体的大括号不单独一行
  AfterExternBlock: false                 # extern 块的大括号不单独一行
  BeforeCatch: false                      # catch 前的大括号不单独一行
  BeforeElse: false                       # else 前的大括号不单独一行
  IndentBraces: false                     # 不对大括号额外缩进
  SplitEmptyFunction: true                # 空函数体的大括号单独一行
  SplitEmptyRecord: true                  # 空类/结构体的大括号单独一行
  SplitEmptyNamespace: true               # 空命名空间的大括号单独一行